{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Update Answer {% endblock %}

{% block style %}

<style>
    .update-style {
        width: 700px;
        height: auto;
    }
</style>
{% endblock %}




{% block body %}

<div class="container mt-5 update-style">
    <h2>Update answer</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form | crispy }}

        <input type="submit" name="Update Answer" class="btn btn-success">
    </form>
</div>

{% endblock %}